<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-center sm:py-12">
    <div class="relative py-3 max-w-full sm:max-w-xl sm:mx-auto">
        <div
            class="absolute inset-0 bg-gradient-to-r from-cyan-400 to-sky-500 shadow-lg transform -skew-y-6 sm:skew-y-0 sm:-rotate-6 sm:rounded-3xl">
        </div>
        <div class="relative px-4 py-10 bg-white shadow-lg rounded-lg sm:rounded-3xl sm:p-20">

            <div class="max-w-md mx-auto">
                <div>
                    <h1 class="text-xl sm:text-2xl font-semibold">Login</h1>
                </div>
                <div class="divide-y divide-gray-200">
                    <form [formGroup]="loginForm">
                        <div class="py-6 sm:py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7">
                            <div class="relative">
                                <input formControlName="phone" autocomplete="off" id="phone" name="phone" type="text"
                                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-cyan-500"
                                    placeholder="Phone Number" />
                                <label for="phone"
                                    class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                    Phone Number</label>
                            </div>
                            <div class="relative">
                                <input formControlName="password" autocomplete="off" id="password" name="password"
                                    type="password"
                                    class="peer placeholder-transparent h-10 w-full border-b-2 border-gray-300 text-gray-900 focus:outline-none focus:border-cyan-500"
                                    placeholder="Password" />
                                <label for="password"
                                    class="absolute left-0 -top-3.5 text-gray-600 text-sm peer-placeholder-shown:text-base peer-placeholder-shown:text-gray-400 peer-placeholder-shown:top-2 transition-all peer-focus:-top-3.5 peer-focus:text-gray-600 peer-focus:text-sm">
                                    Password</label>
                            </div>
                            <div class="relative">
                                <button
                                    class="bg-cyan-500 hover:bg-cyan-600 text-white rounded-md px-4 py-2 w-full sm:w-auto"
                                    (click)="submit()">
                                    Submit</button>
                            </div>
                            <button
                                class="bg-gray-200 hover:bg-gray-300 text-gray-700 rounded-md px-4 py-2 w-full sm:w-auto"
                                (click)="getAPIData()">Get Data</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>