<!-- this component global css set width 100% -->
<section class="bg-white min-h-screen p-2 sm:p-6 mt-6 overflow-y-auto overflow-x-hidden">
  <!-- Header -->
  <header class="flex justify-between items-center py-4">
    <h1 class="text-2xl font-bold text-gray-800">Menu List</h1>
    <!-- <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Logout</button> -->
  </header>
  <div class="md:mb-2 flex w-full justify-end p-4">
    <button
      (click)="openMenuModal()"
      class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600"
    >
      Add Menu
    </button>
  </div>
  <div class="overflow-hidden rounded-lg shadow">
    <table class="min-w-full bg-white table-auto">
      <thead class="bg-gray-200">
        <tr>
          <th
            class="px-1 py-2 sm:px-6 sm:py-3 text-left text-gray-700 text-sm font-medium"
          >
            Image
          </th>
          <th
            class="px-1 py-2 sm:px-6 sm:py-3 text-left text-gray-700 text-sm font-medium"
          >
            Menu
          </th>
          <th
            class="px-1 py-2 sm:px-6 sm:py-3 text-left text-gray-700 text-sm font-medium"
          >
            Price
          </th>
          <th
            class="px-1 py-2 sm:px-6 sm:py-3 text-left text-gray-700 text-sm font-medium"
          >
            Actions
          </th>
        </tr>
      </thead>
      <tbody class="divide-y divide-gray-200">
        @for (menu of menusData; track $index) {
        <tr class="hover:bg-gray-100">
          <td class="sm:px-6 sm:py-4">
            <img
              src="{{ menu.pic_url }}"
              alt="Menu Image"
              class="w-14 h-14 sm:w-16 sm:h-16 object-cover rounded-md shadow"
            />
          </td>
          <td class="sm:px-6 sm:py-4 text-gray-800 font-medium">
            {{ menu.name }}
          </td>
          <td class="sm:px-6 sm:py-4 text-gray-800">₹{{ menu.price }}</td>
          <td class="sm:px-6 sm:py-4">
            <button
              (click)="editModal(); editData = menu"
              class="flex flex-row items-center hover:underline"
            >
              <span
                class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
                ><i class="bx bx-edit"></i></span
              ><span class="sr-only">Edit</span>
            </button>
            <button
              (click)="deleteModal(); deleteId = menu.id"
              class="flex flex-row items-center hover:underline"
            >
              <span
                class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"
              >
                <i class="bx bx-trash"></i></span
              ><span class="sr-only">Delete</span>
            </button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    @if (ConfirmAlert) {
    <app-confirm-alert
      (function)="deleteMenu()"
      (closefun)="deleteModal()"
    ></app-confirm-alert>
    } @if (editModel && editData) {
    <app-menu-form
      (menuDataNew)="menuDataReceive($event)"
      [editData]="editData"
    ></app-menu-form>
    }
  </div>
</section>
