<section class="bg-white p-3 md:p-6 rounded-lg shadow-md mt-6">
    <h2 class="text-lg font-semibold mb-2 md:mb-4 text-gray-800">Menu List</h2>
    <div class="md:mb-4 flex w-full justify-end p-4">
        <button (click)="openModal()" class="bg-green-500 text-white px-4 py-2 rounded-lg hover:bg-green-600">
            Add Menu
        </button>
    </div>
    <div class="overflow-hidden rounded-lg shadow">
        <table class="min-w-full bg-white">
            <thead class="bg-gray-200">
                <tr>
                    <th class="px-6 py-3 text-left text-gray-700 text-sm font-medium">Image</th>
                    <th class="px-6 py-3 text-left text-gray-700 text-sm font-medium">Menu</th>
                    <th class="px-6 py-3 text-left text-gray-700 text-sm font-medium">Price</th>
                    <th class="px-6 py-3 text-left text-gray-700 text-sm font-medium">Actions</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200">
                @for (menu of menusData; track $index) {
                <tr class="hover:bg-gray-100">
                    <td class="px-6 py-4">
                        <img src={{menu.pic_url}} alt="Menu Image" class="w-16 h-16 object-cover rounded-md shadow">
                    </td>
                    <td class="px-6 py-4 text-gray-800 font-medium">{{menu.name}}</td>
                    <td class="px-6 py-4 text-gray-800">₹{{menu.price}}</td>
                    <td class="px-6 py-4">
                        <button (click)="editModal();editData=menu;"
                            class="flex flex-row items-center font-medium text-yellow-600 dark:text-red-500 hover:underline">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400"><i
                                    class="bx bx-edit"></i></span><span class="sr-only">Edit</span></button>
                        <button (click)="deleteModal(); deleteId=menu.id"
                            class="flex flex-row items-center font-medium text-yellow-600 dark:text-red-500 hover:underline">
                            <span class="inline-flex items-center justify-center h-12 w-12 text-lg text-gray-400">
                                <i class="bx bx-trash"></i></span><span class="sr-only">Delete</span></button>
                    </td>
                </tr>
                }
            </tbody>
        </table>
        @if (ConfirmAlert) {
        <app-confirm-alert (function)="deleteMenu()" (closefun)="deleteModal()"></app-confirm-alert>
        }
        @if (editModel && editData) {
        <p>{{editData.name}}</p>
        <app-menu-form (exampleOutput)="exampleMethodParent($event)" [data]="editData"></app-menu-form>
        }
    </div>
</section>